 {%load static%}
 {%block content%}
  <head>
    <link rel="stylesheet" href="{% static 'css/mainpage.css'%}">
    </head>
   <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{% url 'index'%}">Online Store</a>
        <ul class="nav">
          <li><a href="{% url 'index'%}">Home</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'contact'%}">Contact</a></li>
          <li><a href="{% url 'login'%}">Login</a></li>
          <li><a href="{% url 'signup'%}">Signup</a></li>
        </ul>
      </div>
    </div>
   </div> 
 {%end block%}